


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!-- * with prototype -> we will always create a new object of the Class  -->
    <bean id="alien1" class="com.scalar.Alien" scope="prototype" >
    </bean>

    <!-- * with singleton -> we will always only one object for a class and everytime that one will be called  -->
    <bean id="lap" class="com.scalar.Laptop" scope="singleton" >
    </bean>



</beans>